ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #3d0505;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5c0b00;
  }
  
  .activo {
    background-color: #6e1206;
  }
  
  .derecha {
    float: right;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #777777;
    border-radius: 0.5rem;
    text-align: center;
  }

  body{
    background-color: #202020;
  }
  